@model ProyectoFinal.Models.Equipo

@{
    ViewData["Title"] = "Detalles";
    List<Jugador> jugadores = ViewData["jugadores"] as List<Jugador>;
}
@section estilos{
    
    <link href="~/css/ImagenHover.css" rel="stylesheet" />
    <style>
        .contenedorimagenes{
            align-items:center;
            position:absolute;
            left:30%;
            
            
        }
        .contenedorimagenes img{
            margin-left:10px
        }
        .contenedor {
            background-color: lightgray;
            border: 1px solid lightgray;
            border-radius: 25px;
            height:500px
        }
    </style>
}

<div class="contenedor">
    <h1>Detalles</h1>
    <h1>@Model.Nombre</h1>
    
    <img src="https://fotosjlc.s3.amazonaws.com/@Model.Foto" style="width:140px;height:120px" />
    @*div>

            <a>
                <img src= style="width:150px;height:200px" />
                <div class="overlay">

                </div>
            </a>

        </div>*@
    <hr />
    <div class="contenedorimagenes">
        @foreach (Jugador jug in jugadores)
        {
            <div class="hovereffect">
                <img class="img-responsive" src="https://fotosjlc.s3.amazonaws.com/@jug.Foto" style="width:150px;height:200px" alt="">
                <div class="overlay">
                    @*<h2>Hover effect 1</h2>*@
                    <a asp-action="Detalles" asp-controller="Jugadores" asp-route-id="@jug.IdJugador" class="info">Detalles</a>
                </div>
            </div>
        }
    </div>
</div>