@model ProyectoFinal.Models.Equipo

@{
    ViewData["Title"] = "Detalles";
    List<Jugador> jugadores = ViewData["jugadores"] as List<Jugador>;
}
@section estilos{
    
    <link href="~/css/ImagenHover.css" rel="stylesheet" />
}

<h1>Detalles</h1>


<h1>@Model.Nombre</h1>

<img src="~/Images/@Model.Foto" style="width:300px;height:400px" />

@*div>

    <a>
        <img src= style="width:150px;height:200px" />
        <div class="overlay">
            
        </div>
    </a>

</div>*@

<div class="contenedor">
    @foreach (Jugador jug in jugadores)
    {
        <div class="hovereffect">
            <img class="img-responsive" src="~/Images/@jug.Foto" style="width:150px;height:200px" alt="">
            <div class="overlay">
                @*<h2>Hover effect 1</h2>*@
                <a asp-action="Detalles" asp-controller="Jugadores" asp-route-id="@jug.IdJugador" class="info">Detalles</a>
            </div>
        </div>
    }
</div>
