<body>


    @section estilos{
        <style>
            .contenedor {
                background-color: lightgray;
                border:1px solid lightgray;
                border-radius:25px
            }
        </style>
    }



    <div class="contenedor">
        <h1>Home</h1>
</div>
</body>